body{
    background-color: darkgrey;
}
p{
    font-size: 25px;
}
.Red{
    background-color: red;
}

th, td{
border: 1px solid;
}
table{
    border-collapse: collapse;
}

th{
    color: green;
    text-align: center;
    background-color: palevioletred;
}
